<div>
    <div>
        <div class="divide">
        </div>
        <div class="header-div">
            
                My cart
            
        </div>
        <div>
            <div class="cart">
                <div *ngFor="let o of shoppingCart.items" class="cart-container">
                  <div><img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/08/ba/a5/2c.jpg" class="image"></div>
                  <div class="up">
                    <div class="info-container">
                    <div class="info">Tour name: {{o.name}}</div>
                    <br>
                    <div class="info">Price: {{o.price}}</div>
                    </div>
                    </div>
                  <div><button mat-raised-button class="custom-button"
                    [style.background-color]="'#00BBFF'" [style.color]="'#F7FFF7'" (click)="onRemoveClicked(o)">Remove
                </button></div>
                </div>
              </div>
        </div>
        <div class="header-div">
            <span>Total price: {{sum}}</span>
        </div>
        <div class="header-div">
            <button mat-raised-button class="buy-button"
                    [style.background-color]="'#00BBFF'" [style.color]="'#F7FFF7'" (click)="buy(shoppingCart)">Buy
                </button>
        </div>
    </div>
</div>
