.main-rating-div{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: auto;
}
.first{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 140px;
    font-size: 22px; 
    font-weight: bold;
    margin: 15px;
}
.other{
    margin: 15px;
    width: 220px;
    height: 160px;
    display: flex;
    flex-direction: column;
}
.divide{
    display: flex;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}
.vertical{
    display: flex;
    align-items: center;
}
.comment{
    margin-top: 7px;
    width: 220px;
    height: 80px;
}
ngb-rating{
    color: #FFD700;
    font-size: 20px;
}
.average{
    color: #FFD700;
    font-size: 36px;
}