<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">

        <a class="navbar-brand ms-2" [routerLink]="['/home']">
            <img src="assets/3p-app-icon-292f36/icon-192x192.png" alt="3p app" width="50" height="50">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Explore Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Explore
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Top destinations</a></li>
                        <li><a class="dropdown-item" href="#">Popular restaurants</a></li>
                    </ul>
                </li>

                <!-- Trips Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Trips
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li><a class="dropdown-item" href="#">Tours</a></li>
                        <li><a class="dropdown-item" href="#">Places</a></li>
                    </ul>
                </li>

                <!-- Community Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Community
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <li><a class="dropdown-item" [routerLink]="['blog-creation']">Create a blog</a></li>
                        <li><a class="dropdown-item" [routerLink]="['all-blogs']">View travel blogs</a></li>
                        <li *ngIf="user && user.username !== ''"><a class="dropdown-item"
                                [routerLink]="['find-people']">Find people</a></li>
                    </ul>
                </li>

                <!-- User Section -->
                <li class="nav-item dropdown dropdown-center" *ngIf="user && user.username !== ''">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        
                        User (<span *ngIf="user.role === 'administrator'">Admin</span><span *ngIf="user.role === 'author'">Author</span><span *ngIf="user.role === 'tourist'">Tourist</span>)

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">

                        <li *ngIf="user && user.role === 'administrator'">
                            <a class="dropdown-item" [routerLink]="['equipment']">Manage equipment</a>
                            <a class="dropdown-item" [routerLink]="['overview']">Overview of users</a>
                            <a class="dropdown-item" [routerLink]="['app-ratings']">All App Ratings</a>
                            <a class="dropdown-item" [routerLink]="['problems']">Show Tour Problems</a>
                            <a class="dropdown-item" [routerLink]="['public-registration-requests']">Manage registration requests</a>
                        </li>

                        <li *ngIf="user && (user.role === 'author' || user.role === 'tourist')">
                            <a class="dropdown-item" [routerLink]="['blogCreation']">Create blog</a>
                            <a class="dropdown-item" [routerLink]="['app-rating-form']">Rate the App</a>
                        </li>

                        <li *ngIf="user && user.role === 'author'">
                            <a class="dropdown-item" [routerLink]="['points']">Manage points</a>
                            <a class="dropdown-item" [routerLink]="['objects']">Manage objects</a>
                            <a class="dropdown-item" [routerLink]="['tours']">Manage tours</a>
                            <a class="dropdown-item" [routerLink]="['blog-comments']">Blog</a>
                        </li>

                        <li *ngIf="user && user.role === 'tourist'">
                            <a class="dropdown-item" [routerLink]="['position-simulator']">Position simulator</a>
                            <a class="dropdown-item" [routerLink]="['equipment-record']">Equipment record</a>
                            <a class="dropdown-item" [routerLink]="['preference']">Preferences</a>
                            <a class="dropdown-item" [routerLink]="['club']">Club management</a>
                            <a class="dropdown-item" [routerLink]="['invitations']">Club invitations</a>
                            <a class="dropdown-item" [routerLink]="['problem-form']">All tours</a>
                            <a class="dropdown-item" [routerLink]="['membership-requests']">All Requests</a>
                            <a class="dropdown-item" [routerLink]="['shopping-cart']">My cart</a>
                            <a class="dropdown-item" [routerLink]="['purchased-tours']">Purchased tours</a>
                        </li>

                        <li *ngIf="user && user.role !== 'administrator' && user.username !== ''">
                            <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <div class="container">
                    <div class="dropdown">

                      <button class="btn btn-secondary dropdown-toggle" color="btn-primary" type="button" id="notificationDropdown" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                        <i class="bi bi-bell"></i> 
                      </button>
                  
                      <!-- Dropdown Menu for Notifications -->
                      <ul class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="notificationDropdown" style="width: 400px;">
                        <div *ngFor="let notification of this.user.notifications" class="container mt-2">
                            <div class="card">
                              <div class="card-body d-flex justify-content-between align-items-start">
                                <div class="notification-container">
                                  <p class="card-title">{{notification.message}}</p>
                                  <small>{{notification.timestamp | date: 'short'}}</small>
                                </div>
                                <div class="dropdown" style="width:60px;">
                                    <button class="btn btn-secondary dropdown-toggle" color="btn-primary" type="button" id="editNotificationDropdown" data-bs-toggle="dropdown" data-bs-auto-close="false">
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="editNotificationDropdown" style="width: 200px;">
                                        <li>Mark as read</li>
                                        <li class="mt-3">Remove notification</li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                        <!-- View All Notifications -->
                        <li class="list-group-item text-center">
                          <a href="#" class="text-primary">View All Notifications</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                <li class="nav-item" *ngIf="user && user.username === ''">
                    <a class="nav-link" [routerLink]="['login']">Login</a>
                </li>
                <li class="nav-item" *ngIf="user && user.username !== ''">
                    <a class="nav-link" (click)="onLogout()">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>