div {
    width: 100%;
    display: flex;
    gap: 10px;
}

.toolbar {
    background-color: #fff;
    z-index: 99999999;
}

.right-section {
    display: flex;
    justify-content: right;
    padding: 20px;
    margin-left: 10%;
}

.middle-section{
  display: flex; 
  justify-content: center;
  vertical-align: center;
  margin-left: 26.5%;
  margin-top: 20px;
}

.custom-menu {
  display: flex;
  position: relative;
  text-align: center;
  width: 50%; 
  height: 40px;
}

.custom-menu-trigger {
  background-color: transparent;
  color: #292F36;
  padding: 0px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 550;
  font-size: 17px;
  transition: background-color 0.3s;
  position: relative;

  &:hover {
    background-color: lightgray;
  }
}

.custom-menu-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff; 
  border-radius: 15px;
  min-width: 100%;
  width:180px;
  z-index: 999999999; 
}

.custom-menu:hover .custom-menu-content {
  display: block;
}

.custom-menu-item {
  padding: 10px 0;
  width: 100%; 
}

.custom-menu-item:hover {
  text-decoration: underline;
  color: #32292f;
  border-radius: 30px; 
  cursor: pointer;
}

.custom-menu-item-text {
  margin-left: 20px; 
  font-size: 15px;
}

.logo-section{
  width: 70px; 
  height: 70px;
  margin-left: 30px;
  margin-top: 5px;
}

.custom-button {
  border-radius: 17px;
  align-content: center;
  color: #ffffff; 
}

.navbar-section{
  margin-top: 15px;
}