        <h1>Create a blog:</h1>
        <form [formGroup]="blogForm">
            <div>
                <div class="form-item">
                    <label>Title:</label>
                    <input matInput formControlName="title" type="text" [readonly]="tour != null">
                </div>
                <div class="form-item">
                    <label>Description:</label>
                    <textarea 
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    formControlName="description"
                    cdkAutosizeMaxRows="6"
                    [readonly]="tour != null"></textarea>
                </div>
                <div class="form-item" *ngIf="tour != null">
                    <label>Additional Description:</label>
                    <textarea 
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="3"
                        formControlName="additionalDescription"
                        cdkAutosizeMaxRows="6">
                    </textarea>
                </div>
                <div class="image-flex-box form-item">
                    <div>
                        <label>Image URL:</label>
                    </div>
                    <div>
                        <input name="imageUrl" [(ngModel)]="imageUrl" type="text" style="width: 250px;">
                    </div>
                    <div>
                        <button (click)="addImage()">Add image</button>
                    </div>
                </div>
                <div>
                    <button (click)="addBlog()">Create blog</button>
                </div>
                <div *ngIf="blogForm.invalid" class="error-message">
                    <label>You must enter title and description to create a blog!</label>
                </div>
            </div>
        </form>