<form [formGroup]="pointsFrom">
  <div>
    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input matInput formControlName="longitude" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input matInput formControlName="latitude" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                formControlName="description"
                cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Picture</mat-label>
      <input matInput formControlName="picture" type="text">
    </mat-form-field>
    <button *ngIf="!shouldEdit" mat-raised-button type="submit" color="primary" (click)="addPoint()">Done</button>
    <button *ngIf="shouldEdit" mat-raised-button type="submit" color="primary" (click)="updatePoint()">Done</button>
  </div>
</form>
