<div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.Id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <input type="number" placeholder="Unesite ID korisnika" #userIdInput>
            <button (click)="blockUser(userIdInput.value)">Blokiraj</button>
             
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  