<div>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Adventure Coins</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.coins}}</td>
        <td>
          <button (click)="selectUser(user)" class="btn btn-outline-secondary">Selektuj</button>
          <button *ngIf="user.role == 'tourist'" class="btn btn-outline-secondary ms-2" data-bs-toggle="modal" data-bs-target="#addCoinsModal"
            (click)="onAddCoinsClicked(user)">Add Coins</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="selectedUser">
    <p>Selektovani korisnik: {{selectedUser.username}}</p>
    <button (click)="blockSelectedUser()">Blokiraj odabrane</button>
  </div>

  <div class="modal fade" id="addCoinsModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Add coins to {{selectUserForCoinsAddition?.username}}</h1>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onModalClose()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="coinAdditionForm" (submit)="addCoins()">
            <div class="form-group">
              <label class="form-label">Amount:</label>
              <input type="number" class="form-control" placeholder="Amount" formControlName="coinAmount" required>
              <button type="submit" class="btn btn-primary mt-3">Add</button>
            </div>   
          </form>
        </div>
      </div>
    </div>
  </div>
</div>