div {
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
}

.mat-icon {
    vertical-align: middle;
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.club-invitation-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center; 
    align-items: center; 
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}
.form-item label {
    text-align: left;
    font-weight: 500;
  }