/* Stil za formu */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.form-control {
    resize: vertical; /* Omogućava vertikalno proširivanje textarea */
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Dodatni stil za širinu forme na manjim ekranima (npr. mobilni uređaji) */
@media (max-width: 576px) {
    .form-container {
        width: 100%;
        padding: 10px;
    }
}
