<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="inputNameTour" class="form-label">Name:</label>
                <input type="text" name="inputNameTour" id="inputNameTour" class="form-control">
            </div>
            <div class="mb-3">
                <label for="inputDescriptionTour" class="form-label">Description:</label>
                <input type="text" name="inputDescriptionTour" id="inputDescriptionTour" class="form-control">
            </div>
        </div>

        <div class="col-6">
            <div class="mb-3">
                <label for="inputDifficultyTour" class="form-label">Difficulty:</label>
                <input type="number" name="inputDifficultyTour" id="inputDifficultyTour" class="form-control">
            </div>
            <div class="mb-3">
                <label for="inputTagsTour" class="form-label">Tags:</label>
                <input type="text" name="inputTagsTour" id="inputTagsTour" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <label class="form-label">Checkpoints:</label>
            <ul class="list-group">
                <li class="list-group-item"> <!-- ngFor goes here -->
                    <div class="d-flex justify-content-between">
                        <p class="justify-content-start">Checkpoint 1</p>
                        <div>
                            <button class="btn btn-outline-secondary me-3">Set as public</button>
                            <button class="btn btn-outline-danger">Remove</button>
                            <!-- (click) for removing point goes here (if even needed) -->
                        </div>
                    </div>

                </li>
            </ul>
            <button class="btn btn-outline-primary mt-3 me-3">Add Checkpoint</button>
            <button class="btn btn-outline-secondary mt-3" (click)="resetSelectedPoint()">Reset map picker</button>

        </div>

        <div class="col-6 mt-4">
            <!-- <xp-map [(points)]="points"></xp-map> -->
            <!-- <xp-map></xp-map> -->
            <xp-map></xp-map>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary">Create</button>
        </div>
    </div>


</div>