<div id="pointViews">
    <div  class="Header">
        <p>Choose points:</p>
    </div>
    <hr>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Picture</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let point of points">
                        <td>{{ point.name }}</td>
                        <td>{{ point.description }}</td>
                        <td>{{ point.longitude }}</td>
                        <td>{{ point.latitude }}</td>
                        
                        
                        <td class="image-container">
                            <img [src]="point.picture" class="img-responsive img-thumbnail" style="max-width: 150px; max-height: 150px;">
                        </td>
                        <td><input type="checkbox" (change)="onSelect(point)"></td>
                    </tr>
                </tbody>
            </table>
            <button (click)="findTours()">Find Tours</button>
        </div>
    </div>
    <div id="tours-details" class="div-tour-details d-flex align-items-center justify-content-center">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Difficult</th>
                        <th>Price</th>
                        <th>Contains additional points</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tour of tours">
                        <td>{{tour.name}}</td>
                        <td>{{tour.description}}</td>
                        <td>{{tour.difficult}}</td>
                        <td>{{tour.price}}</td>

                        <td>{{ checkForUnselectedPoints(tour) ? 'Yes' : 'No' }}</td> 
    
                    


                        
                    </tr>
                    <tr>
                    </tr>
                   
                </tbody>
            </table>
            <button (click)="addMyTours()">Create own</button>
        </div>
        
        
</div>
