<div id="equipment">
    <p>Korisnik</p>
    <div id="equipment-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Fotografija</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Biografija</th>
                    <th>Citat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    
                    <td *ngIf="person">{{person.name}}</td>
                    <td *ngIf="person">{{person.surname}}</td>   
                    <td *ngIf="person">{{person.bio}}</td>
                    <td *ngIf="person">{{person.quote}}</td>
                    <td>
                        <button (click)="onEditClicked(person)" color="primary" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <xp-profile-form *ngIf="shouldRenderProfileForm"  [profile]="selectedProfile" (profileUpdated)="getUser()" ></xp-profile-form>
    </div>

    
</div>


