<div id="equipment">
    <p>Korisnik</p>
    <hr>
    <div id="equipment-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Fotografija</th>
                    <th>Biografija</th>
                    <th>Citat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{person.name}}</td>
                    <td>{{person.surname}}</td>
                    <td>{{person.picture}}</td>
                    <td>{{person.bio}}</td>
                    <td>{{person.quote}}</td>
                    <td>
                        <button color="accent" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button color="primary" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr><button color="primary" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button></tr>
            </tbody>
        </table>
    </div>
    <div>
    </div>
    </div>
</div>


