<form [formGroup]="preferenceForm">
    <div>
        <mat-form-field>
            <mat-label>Difficulty(1=easy, 5=hard; 1-5)</mat-label>
            <input matInput formControlName="difficulty" type="number"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Transport</mat-label>
            <mat-select matInput formControlName="transport">
                <mat-option value="Walking">Walking</mat-option>
                <mat-option value="Bicycle">Bicycle</mat-option>
                <mat-option value="Car">Car</mat-option>
                <mat-option value="Boat">Boat</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tags</mat-label>
          <input matInput formControlName="tags" type="text">
        </mat-form-field>
    <button color="primary" type="submit" (click)="addPreference()" mat-raised-button>Done</button>
    </div>
</form>