
<div class="execution">
  <form [formGroup]="positionForm">
    <div align="center">
      <h1>{{tour.name}}</h1>
    </div>
    <div class="map-container">
    <xp-map  [points]="points" (latitude)="GetLatitude($event)" (longitude)="GetLongitude($event)"></xp-map>
    </div>
    <div *ngIf="showDiv" >
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="longitude" type="number" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input matInput formControlName="latitude" type="number" readonly>
      </mat-form-field>    
    </div>
    <div *ngIf="showMessage" class="container-exit">
      <h1><b>The tour is finished</b></h1>
      <h2>Return to the home page:</h2>
      <button (click)="returnToHomePage()" class="button-exit">Return</button>
      <button (click)="showReviewForm()" class="button" class="btn btn-secondary m-2">Review</button>
      <xp-tour-review-form *ngIf="isShowReviewFormEnabled" [tour]="tour"></xp-tour-review-form>
    </div>
    <div *ngIf="showMap" class="d-flex justify-content-between">
      <div>
      <button data-bs-toggle="modal" data-bs-target="#staticBackdrop"  mat-raised-button type="submit" color="primary" (click)="confirmPosition()">Confirm position</button>
      </div>
      <div margin-bottom="10px" margin-top="10px">
        <button (click)="quitTour()" [routerLink]="['tour-exit']" class="stop-button">Quit</button>
    </div>
    </div>
    
  </form>

  <div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{lastTaskPoint.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{lastTaskPoint.description}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


