.blog-details-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .blog-info {
    margin-bottom: 20px;
  }
  
  .blog-images {
    text-align: center;
  }
  
  .comment-section {
    margin-top: 20px;
  }

  textarea {
    width: 100%; 
    resize: vertical; 
  }
  
  .thumb-up-active {
    color: green; /* Boja za thumb_up kada je ocenjeno */
  }
  
  .thumb-down-active {
    color: red; /* Boja za thumb_down kada je ocenjeno */
  }

  .image-dimensions {
  position: relative;
  width: 400px; /* Promenite ovo na željenu širinu kontejnera */
  height: 250px; /* Visina će se automatski prilagoditi visini slike */
  overflow: hidden;
  margin: 0 auto;
}

.image-container {
  position: relative;
}

.fit-image {
  width: 100%;
  height: auto;
  display: block;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-button,
.next-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
